.title-form {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 2rem;
  animation: aparecer 1s ease forwards;
}

.form-container {
  max-width: 35%;
  margin: 0 auto;
  padding: 3rem;
  background-color: #f4f4f4; /* Color de fondo */
  border-radius: 10px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container label {
  margin-bottom: 8px;
  color: #333;
  font-size: 1.5rem;
  font-weight: 200;
}

.form-container input {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 200;
}

.form-container .btn-form {
  padding: 10px 20px;
  background-color: #a2dcf3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 200;
}

.form-container .btn-form:hover {
  background-color: #758392; /* Color de fondo del botón al pasar el mouse */
}

.form-container h4 {
  text-align: center;
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: 200;
}

.paragraph {
  font-size: 2rem;
  text-align: center;
  color: #333; /* Color del texto */
}

.form-container .err-form {
  color: #dc3545; /* Color del mensaje de error */
  margin-top: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
}

.containerDark-form {
  background-color: #5c5c5c;
  padding: 4rem;
}

.containerDark-form .title-form {
  color: #fff;
}

.containerLight-form {
  padding: 4rem;
}
